/* Responsive for large screen */

@media screen and (max-width: 992px) {
    .container{margin: 0rem 2rem;}
}

/* Responsive for medium screen  */
@media screen and (max-width: 768px) {
    .container{margin: 0rem 1rem;}

    .navbar{
        padding: 0.8rem;
    }    


    /* Landing Page */
    .landingpage{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
    }

    .landingpage .landingpage-col-1{
        width: 100%;
    }

    .landingpage .landingpage-col-1 p{
        font-size: var(--fs-medium);
    }

    .landingpage .landingpage-col-2 img{
        width: 40rem;
    }

    .logo-container{
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        padding: 3rem;
        margin-top: 1.5rem;
        gap: 1rem;
    }

    .landing-page{
        width: 33.33%;
    }

    
}

/* Responsive for small screen */
@media screen and (max-width: 567px) {
    .container{margin: 0rem 0.1rem;}


    /* Navbar for mobile responsive*/
    .navbar{
        padding: 1rem;
    }

    .navbar .hide-bar{
        display: block;
    }

    .close-btn{
        display: block;
        top: 0px; 
        right: 25px;
        font-size: 36px;
    }

    .nav-bar{
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: all ease-in-out 0.5s;
        background-color: var(--darkBlue);
    }

    .navbar-list{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        margin-top: -30px;
    }

    .navbar-item .navbar-link{
        color: var(--white);
    }

    .navbar-list .navbar-btn{
        background-color: var(--white);   
    }
    .navbar-list .navbar-btn:hover {
        background-color: var(--transparentBlue);   
    }

 
    .close-btn{
       font-size: var(--fs-large);
       margin-left: 80%;
    }

    /* Landing Page */
    .landingpage{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .landingpage .landingpage-col-1{
        width: 100%;
    }

    .landingpage .landingpage-col-2 img{
        width: 100%;
    }

    /* logos container */
    .logo-container{
        display: none;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        justify-content:  center;
        padding: 1.5rem;
        margin-top: 1.5rem;
        gap: 3rem;
    }

    .landing-page{
        width: 33.33%;
    }
}