/* Responsive for large screen */

@media screen and (max-width: 992px) {
    .container{margin: 0rem 2rem;}
}

/* Responsive for medium screen  */
@media screen and (max-width: 768px) {
    .container{margin: 0rem 0.8rem;}

    .navbar{
        padding: 0.8rem;
    }    
}



/* Responsive for small screen */
@media screen and (max-width: 567px) {
    .container{margin: 0rem 0.1rem;}

    .navbar{
        padding: 1rem;
    }

    .navbar .hide-bar{
        display: block;
    }

    .close-btn{
        display: block;
        top: 0px; 
        right: 25px;
        font-size: 36px;
    }

    .nav-bar{
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: all ease-in-out 0.5s;
        background-color: var(--transparentBlue);
    }

    .navbar-list{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        margin-top: -30px;
    }

    .navbar-item .navbar-link{
        color: var(--white);
    }

    .navbar-list .navbar-btn{
        background-color: var(--white);   
    }

 
    .close-btn{
       font-size: var(--fs-large);
       margin-left: 80%;
    }
}