*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Background for Landing page */
.main{
    background-image: url('../img/background.png');
    width: 100%; 
    height: 100vh;
}


/* Navigation bar */
.navbar{
    padding: 2rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


/* Navbar brand */
.navbar-brand img{
    width: 7rem; 
    cursor: pointer;
}


/* Navbar links */
.navbar-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}


/* styling the navbar link */
.navbar-item .navbar-link{
    font-weight: var(--fw-bold);
    font-size: 17px;
    text-decoration: none;
    color: var(--darkBlue);
}

/* Login button inside navbar */
.navbar-list .navbar-btn{
    background-color: transparent; 
    color: var(--darkBlue);
    font-size: var(--fs-xsmall);
    font-weight: var(--fw-medium);
    padding: 0.8rem 2.5rem;
    border: 2px solid var(--darkBlue);
    border-radius: 30px;    
    transition: all 0.5s;
    cursor: pointer;
}


/* When hover on the button */
.navbar-list .navbar-btn:hover {
    background-color: var(--darkBlue);
    color: var(--white);
}

/* close button for the navbar when it on small screen */
.close-btn{
    font-size: var(--fs-xlarge);
    color: var(--white);
    display: none;
}


/* show button for the navbar when it is on the small screen  */
.navbar .hide-bar{
    display: none;
    font-size: 2.5rem;
}



/* Landing page */
.landingpage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 5rem;
}

/* First Column that contain the text */
.landingpage .landingpage-col-1{
    width: 50%;
}

/* landing page heading title */
.landingpage .landingpage-col-1 h2{
    font-size: var(--fs-xlarge);
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
    line-height: 1.5;
}

/* Landing page content paragraph */
.landingpage .landingpage-col-1 p{
    margin-bottom: 2.3rem;
    line-height: 1.8;

}

/* Landing page button container */
.landingpage .landingpage-col-1 .btn-container{
    display: flex;
    gap: 1rem;
}


/* Landing page buttons  */
.landingpage .landingpage-col-1 .btn-buy,  .landingpage .landingpage-col-1 .btn-explore{
    padding: 1rem 2.5rem; 
}

/* logos container */
.logo-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content:  center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    gap: 3rem;
}

.landingpage-Logo{
    width: 30.33%;
}


